@import "tailwindcss";

@layer base {
  html:has(dialog:modal) {
    overflow: hidden;
  }
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 進化線の色 */
  --normal-evolution-line: var(--color-slate-400);
  --selected-evolution-line: var(--color-emerald-500);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    /* 進化線の色 */
    --selected-evolution-line: var(--color-amber-300);
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

/* ========================================
   MobileEvolutionBranch.tsx - モバイル版進化表の分岐線レイアウト
======================================== */
.mobile-evolution-branches > li {
  position: relative;
}
/* liの最後の要素以外 */
.mobile-evolution-branches > li:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  /* 根本ポケモン画像のsizeが18、中央が9、かつ子がml-17。 17-9=8=32px=2rem で根本画像の中心に辿り着けるため */
  left: -2rem;
  width: 2px;
  background-color: var(--normal-evolution-line);
}
/* throughの縦線だけ色を上書きする */
.mobile-evolution-branches > li.connector-through::before {
  z-index: 1;
  background-color: var(--selected-evolution-line);
}
.mobile-evolution-branches > li > div {
  position: relative;
}
.mobile-evolution-branches > li:last-child > div::before,
.mobile-evolution-branches > li.connector-target > div::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 50%;
  left: -2rem;
  width: 2px;
  background-color: var(--normal-evolution-line);
}
/* 横線(名前・画像・進化条件を持つdivを対象に50％位置を指定) */
.mobile-evolution-branches > li > div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -2rem;
  width: 2rem;
  height: 2px;
  background-color: var(--normal-evolution-line);
}
/* targetの横線と縦線を着色 */
.mobile-evolution-branches > li.connector-target > div::before {
  background-color: var(--selected-evolution-line);
}
.mobile-evolution-branches > li.connector-target > div::after {
  background-color: var(--selected-evolution-line);
}
